<container>
<% if current_user %>
<p><a id="logout" href="/logout">Log Out</a></p>
<p><a id="home" href="/users/<%= current_user.id %>">Home</a></p>

<div>
  <div class='question-container'>
    <h2 id="question">Question: <strong><%= @question.question_text %></strong></h2>
    <span class='author'><%= @question.user.first_name %> <%= @question.user.last_name %></span>
    <br />
    <div class="vote-wrapper">
    <form id="upvote" method="post" action='/questions/<%= @question.id %>/vote'>
      <input type="hidden" name="question_id" value="<%= params[:id] %>">
      <button id="button" type="submit" name="submit_param" value="submit_value">⬆</button>
    </form>
    <br />
    <form id="downvote" method="post" action='/questions/<%= @question.id %>/downvote'>
      <input type="hidden" name="question_id" value="<%= params[:id] %>">
      <button id="button" type="submit" name="submit_param" value="submit_value">⬇</button>
    </form>
    </div>
    <span class='votes'>Upvotes: <%= @question.vote_sum %></span>
    <% if @question.user_id == current_user.id %>
      <form action="/questions/<%= @question.id %>" method="post" id="delete_form">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="delete">
      </form>
    <% end %>

    <div class="comments">
    <h5>Question Comments:</h5>
      <form id="new_comment" method="post" action="/comments">
        <input type="text" id="comment_text" name="comment_text" placeholder="Enter comment">
        <input type="hidden" name="question_id" value="<%= params[:id] %>">
        <input type="hidden" name="commentable_type" value="Question">
        <input type="hidden" name="thing_id" value="<%= params[:id] %>">
        <input type="Submit" value="Submit New Comment">
      </form>
      <% if @errors %>
        <%= @errors %>
      <% end %>
    <ul>
      <% @question.comments.each do |comment| %>
        <li><%= comment.comment_text %></li>
      <% end %>
    </ul>
    </div>
  </div>

  <div class='answer-container'>
    <h3 id="answer-header">Answers:</h3>
    <p><%= @answers.count %> answers </p>
    <form id="new_answer" method="post" action="/answers">
      <input type="text" id="answer_text" name="answer_text" placeholder="Enter answer">
      <input type="hidden" name="question_id" value="<%= params[:id] %>">
      <input type="Submit" value="Submit New Answer">
    </form>
    <% if @errors %>
      <%= @errors %>
    <% end %>

      <ul>
        <% @answers.each do |answer| %>
        <li><%= answer.answer_text %></li>
        <br />
        <% if answer.user_id == current_user.id %>
          <form action="/answers/<%=answer.id%>" method= "post" id="delete_form">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="question_id" value="<%= params[:id] %>">
            <input type="Submit" value="Delete">
          </form>
        <% end %>
      </ul>

      <div class="comments">
        <h5>Answer Comments:</h5>
        <form id="new_comment" method="post" action="/comments">
          <input type="text" id="comment_text" name="comment_text" placeholder="Enter comment">
          <input type="hidden" name="question_id" value="<%= params[:id] %>">
          <input type="hidden" name="commentable_type" value="Answer">
          <input type="hidden" name="thing_id" value="<%= answer.id %>">
          <input type="Submit" value="Submit New Comment">
        </form>

        <% if @errors %>
          <%= @errors %>
        <% end %>

        <ul id="answer_comments">
          <% answer.comments.each do |comment| %>
            <li><%= comment.comment_text %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
  <% else %>
    <h3><a href="/">Login</a></h3>
  <% end %>
</div>
</container>