<h1>New User</h1>
  <h3><a href="/">Login</a></h3>
  <form action="/users" method= "post">
    <label for="first_name_input">First Name:</label>
    <input id="first_name_input" name="user[first_name]" type="text" value="<%= @first_name.try(:first_name)%>">
    <br>
    <label for="last_name_input">Last Name:</label>
    <input id="last_name_input" name="user[last_name]" type="text" value="<%= @last_name.try(:last_name) %>">
    <br>
    <label for="email_input">Email:</label>
    <input id="email_input" name="user[email]" type="text" value="<%= @email.try(:email) %>">
    <br>
    <label for="password_input">Password:</label>
    <input id="password_input" name="user[password]" type="password" value="<%= @password.try(:password) %>">
    <br>
    <input type="submit" value="Create">
  </form>

<% if @errors %>
  <%= @errors %>
<% end %>
